<div id="package_explorer" class="d-flex flex-column flex-shrink-1">
    <div class="title container d-flex align-items-center">
        <%= image_tag("folder_shared.svg") %>
        <p>Package Explorer</p>
        <button type="button" class="btn btn-circle btn-sm ml-auto d-flex justify-content-center" aria-pressed="true">
            <%= image_tag("add.svg") %>
        </button>
    </div>

    <hr/>

    <div class="files flex-grow-1">
        
        <%= @files.each do |f| %>
            <ul class="list-group">
                <button onClick="loadText('<%= f %>')" class="list-group-item d-flex align-items-center folder file">
                    <%= image_tag("file.svg") %>
                    <%= content_tag(:p, f) %>
                </button>
            </ul>
        <% end %>

    </div>

    <div class="title bottomtitle container d-flex align-items-center justify-content-center">
        <%= image_tag("queue.svg") %>
        <p>16 students in queue</p>
        <button type="button" class="btn finishBtn" aria-pressed="true">FINISH CURRENT</button>
    </div>
</div>

<script src="./codemirror/lib/codemirror.js"></script>
<link rel="stylesheet" href="./codemirror/lib/codemirror.css">
<link rel="stylesheet" href="./codemirror/theme/darcula.css">
<script src="./codemirror/mode/javascript/javascript.js"></script>

<script>

function loadText (filename) {
    
    var filenameWithoutDots = filename.replace(".", "-")

    if (document.getElementById(filenameWithoutDots + "-tab")) {
        document.getElementById(filenameWithoutDots + "-tab").click()
        return
    } 

    var content = "";

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            content = this.responseText;

                var myCodeMirror = CodeMirror(document.getElementById(createNewTab(filename)), {
                    value: content,
                    lineNumbers: true,
                    theme: "darcula",
                    mode:  "javascript" })    
        }
    };
    xhttp.open("GET", "./files/" + filename, true);
    xhttp.send();
}

</script>