<div id="package_explorer" class="d-flex flex-column flex-shrink-1">
    <div class="title container d-flex align-items-center">
        <%= image_tag("folder_shared.svg") %>
        <p>Package Explorer</p>
        <button type="button" class="btn btn-circle btn-sm ml-auto d-flex justify-content-center" aria-pressed="true">
            <%= image_tag("add.svg") %>
        </button>
    </div>

    <hr/>

    <div class="files flex-grow-1">
        <ul class="list-group">
            <a href="#" class="list-group-item d-flex align-items-center folder">
                <%= image_tag("arrow_right.svg", class: "collapse_indicator") %>
                <%= image_tag("folder_open.svg") %>
                <p>Assignment 06</p>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center file">
                <%= image_tag("file.svg") %>
                <p>main.java</p>
            </a>
            <a href="#" class="list-group-item d-flex align-items-center file">
                <%= image_tag("file.svg") %>
                <p>yikes.java</p>
            </a>
        </ul>
        <ul class="list-group folder">
            <a href="#" class="list-group-item d-flex align-items-center folder">
                <%= image_tag("arrow_right.svg", class: "collapse_indicator") %>
                <%= image_tag("folder_open.svg") %>
                <p>Assignment 07</p>
          </a>
        </ul>
    </div>

    <div class="title bottomtitle container d-flex align-items-center justify-content-center">
        <%= image_tag("queue.svg") %>
        <p>16 students in queue</p>
        <button type="button" class="btn finishBtn" aria-pressed="true">FINISH CURRENT</button>
    </div>
</div>